*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}

html, body{
    width: 100%;
    height: 100%;
}

#nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    width: 43vw;
    left: 50%;
    transform: translate(-50%);
    top: 3%;
    border-radius: 1.2vw;
    background-color: #ffffff54;
    z-index: 1000;
    backdrop-filter: blur(10px);
    padding: 1px 5px;
}

#nav1{
    display: none;
    position: fixed;
    padding: 2vh 7vw;
    align-items: center;
    justify-content: space-between;
    z-index: 998;
    background-color: #F6F3EF;
    width: 100%;
    height: 55px;
    backdrop-filter: blur(10px);
}

#nav1>img{
    width: 12.5%;
}

#nav1>i{
    font-size: 21px;
    color: black;
    cursor: pointer;
}

#nav>img{
    width: 10%;
    margin-left: 1.2vw;
}

#nav>img:hover{
    cursor: pointer;
}

#nav>button{
    padding: 15px 7px;
    border-radius: 10px;
    border: none;
    background-color: #ffcd6d;
    font-weight: 600;
    font-size: 0.81rem;
}

#nav>button:hover{
    background-color: #FFD687;
    cursor: pointer;
    transition: 0.5s ease;
}

#links{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}

#links>a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-size: 15px;
}

#main{
    position: relative;
    overflow: hidden;
}

#page1{
    height: 100vh;
    width: 100vw;
    position: relative;
}

#page1>h1{
    font-size: 80px;
    position: absolute;
    z-index: 99;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    z-index: 999;
}

#page1>h4{
    position: absolute;
    font-size: 22px;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    z-index: 999;
}

canvas{
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 9;
}

#page2{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #E5E1DC;
}

#page2>h1{
    font-size: 80px;
    position: absolute;
    z-index: 999;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
}

#page2>h4{
    font-size: 24px;
    position: absolute;
    z-index: 999;
    text-align: center;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    color: #565656;
}

#bpage{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: transparent;
}

#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}

#page4{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    background-color: #E2DCD7;
}

#page4>h1{
    font-weight: 600;
    font-size: 2.7vw;
}

#page4>h4{
    font-weight: 500;
    margin-top: 20px;
    color: #565656;
    font-size: 1.2vw;
}

#page5{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

#page5>h1{
    display: none;
}

#cdiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 75%;
    background-color: #F6F3EF;
    display: flex;
}

#lcdiv{
    height: 100%;
    width: 50%;
}

#lcdiv>svg{
    scale: 0.7;
}

#rcdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 50%;
    gap: 30px;
    padding-left: 60px;
}

#rcdiv>h1{
    font-weight: 600;
}

#rcdiv>h4{
    font-weight: 500;
    width: 70%;
    color: #4a4a4a85;
}

#rcdiv>button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    background-color: black;
    color: white;
}

#rcdiv>button:hover{
    background-color: #4a4a4a;
    cursor: pointer;
    transition: 0.5s ease;
}

#page6{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 12.5vw;
    height: 100%;
    width: 50%;
}

.right{
    position: relative;
    height: 100%;
    width: 50%;
}

.left>h1{
    font-size: 3.3vw;
    font-weight: 600;
}

.left>h4{
    margin-top: 20px;
    font-size: 1.2vw;
    font-weight: 500;
    color: #4a4a4ad3;
    width: 67%;
}

.right>video{
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 100%;
}

#page7{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 0 0.5vw;
    justify-content: space-between;
}

.left7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 4.5vw;
    height: 100%;
    width: 50%;
}

.right7{
    position: relative;
    height: 100%;
    width: 50%;
}

.left7>h1{
    font-size: 3.3vw;
    font-weight: 600;
}

.left7>h4{
    margin-top: 20px;
    font-size: 1.2vw;
    font-weight: 500;
    color: #4a4a4ad3;
    width: 65%;
}

.right7>video{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#page8{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.left8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 12vw;
    height: 100%;
    width: 50%;
}

.right8{
    position: relative;
    height: 100%;
    width: 50%;
}

.left8>h1{
    font-size: 3.3vw;
    font-weight: 600;
}

.left8>h4{
    margin-top: 20px;
    font-size: 1.2vw;
    font-weight: 500;
    color: #4a4a4ad3;
    width: 79%;
}

.right8>img{
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 65%;
}

#page9{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#footer{
    position: relative;
    min-height: 100vh;
    width: 100vw;
    background-color: #2F2F2F;
    padding: 1vw 13vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#upper{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

#upper>h1{
    font-size: 5vw;
    font-weight: 300;
    color: white;
    margin-bottom: 5vh;
}

#upper>button{
    position: relative;
    display: flex;
    align-items: center;
    padding: 18px 22px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    background-color: #ffcd6d;
    color: black;
    font-weight: 500;
    font-size: 0.9rem;
}

#upper>button:hover{
    background-color: #FFD687;
    cursor: pointer;
    transition: 0.5s ease;
}

button>#line{
    height: 200%;
    width: 1px;
    margin: 0 10px;
    background-color: rgba(0, 0, 0, 0.366);
}

button>i{
    font-size: 20px;
    font-weight: 500;
}

#linee{
    height: 0.7px;
    width: 100%;
    background-color: rgba(126, 126, 126, 0.64);
}

#lower{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    color: rgba(255, 255, 255, 0.971);
    /* padding: 5vh 0; */
}

#links1{
    display: flex;
    flex-direction: column;
}

#links1>img{
    width: 25%;
    margin-bottom: 20px;
    cursor: pointer;
}

#cons{
    display: flex;
    gap: 15px;
}

#cons>i{
    background-color: rgb(85, 85, 85);
    padding: 11px;
    border-radius: 50%;
    cursor: pointer;
}

#cons>i:hover{
    background-color: #4a4a4a;
    transition: 0.5s ease;
}

#links2{
    display: flex;
    gap: 5vw;
    color: rgb(255, 255, 255);
}

#links2 h4{
    font-size: 1.1vw;
    font-weight: 500;
    margin-bottom: 2vh;
}
#links2 h3{
    font-size: 1vw;
    font-weight: 400;
    margin-bottom: 0.5vh;
}

#links2 h3:hover{
    color: #ffc75f;
    cursor: pointer;
    transition: 0.5s ease;
}

/* media queries */

@media screen and (max-width:1157px) {
    #nav{
        width: 60vw;
        z-index: 999;
    }

    #nav1{
        display: none;
    }

    #nav>img{
        width: 10%;
    }

    #nav>button{
        padding: 15px 10px;
    }

    #page1>h1{
        font-size: 51px;
    }

    #page1>h4{
        font-size: 18px;
        top: 58%;
    }

    #page2>h1{
        font-size: 51px;
    }

    #page2>h4{
        font-size: 18px;
    }

    #page4>h1{
        font-size: 31px;
    }

    #page4>h4{
        font-size: 18px;
    }

    #page6{
        height: 50vh;
    }

    #page7{
        height: 50vh;
    }

    #page8{
        height: 65vh;
    }

    #cdiv{
        height: 80%;
        width: 86%;
    }

    #lcdiv>svg{
        scale: 0.9;
    }

    #rcdiv>h1{
        font-size: 3vw;
    }

    #rcdiv>h4{
        font-size: 1.5vw;
    }

    .right>video{
        left: 35%;
    }

    .left7{
        padding-left: 6.4vw;
    }

    .left7>h4{
        width: 64%;
    }

    .right7>video{
        left: 53%;
    }

    .left8{
        padding-left: 13vw;
    }

    .right8>img{
        height: fit-content;
        width: 73%;
    }

    #upper>h1{
        font-size: 4vw;
    }

    #upper>button{
        padding: 15px 20px;
        font-size: 0.8rem;
    }

    #footer{
        height: 75vh;
        justify-content: center;
        gap: 5vh;
    }

    #links1>img{
        width: 30%;
    }

    #links2 h4{
        font-size: 1.3vw;
    }

    #links2 h3{
        font-size: 1.2vw;
    }
}

@media screen and (max-width: 1001px) {
    #nav{
        display: none;
    }

    #nav1{
        display: flex;
    }

    #nav>img{
        width: 15%;
    }

    #nav>button{
        padding: 15px 10px;
    }

    #page1>h1{
        font-size: 40px;
        top: 37%;
    }

    #page1>h4{
        font-size: 16px;
        top: 51%;
    }

    #page2>h1{
        font-size: 40px;
    }

    #page2>h4{
        font-size: 16px;
    }

    #page4>h1{
        font-size: 26px;
    }

    #page4>h4{
        font-size: 16px;
    }

    #page5>h1{
        display: block;
        position: absolute;
        font-size: 2.3rem;
        left: 50%;
        transform: translate(-50%);
        top: 4%;
        z-index: 99;
        font-weight: 500;
        letter-spacing: 1px;
    }

    #page5 #cdiv{
        background-color: white;
        flex-direction: column;
        width: 100%;
        height: 85%;
    }
    
    #lcdiv{
        height: 50%;
        width: 100%;
        margin: 0 auto;
    }
    
    #lcdiv>svg{
        scale: 0.8;
    }
    
    #rcdiv{
        height: 100%;
        width: 95%;
        margin: 0 auto;
        padding-left: 10.5vw;
    }
    
    #rcdiv h1{
        font-size: 2.4rem;
        font-weight: 600;
    }
    
    #rcdiv>h4{
        font-size: 1rem;
        font-weight: 500;
        width: 80%;
        color: #4a4a4ad3;
    }
    
    #rcdiv>button{
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        font-weight: 600;
        background-color: black;
        color: white;
    }

    #page6{
        flex-direction: column;
        height: 70vh;
        gap: 1vh;
    }

    .left{
        order: 2;
        margin: 0 auto;
        height: 100%;
        width: 95%;
        padding-left: 10.5vw;
    }
    
    .right{
        order: 1;
        height: 100%;
        width: 100%;
    }
    
    .left>h1{
        font-size: 2.4rem;
        font-weight: 600;
    }
    
    .left>h4{
        margin-top: 20px;
        font-size: 1rem;
        font-weight: 500;
        width: 81%;
    }
    
    .right>video{
        left: 59%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        height: 90%;
        width: 100%;
        scale: 1.2;
    }

    #page7{
        flex-direction: column;
        height: 90vh;
        justify-content: flex-start;
    }

    .left7{
        order: 2;
        margin: 0 auto;
        height: fit-content;
        width: 95%;
        padding-left: 10.5vw;
        justify-content: start;
    }
    
    .right7{
        order: 1;
        height: 59%;
        width: 100%;
    }
    
    .left7>h1{
        font-size: 2.4rem;
        font-weight: 600;
    }
    
    .left7>h4{
        margin-top: 20px;
        font-size: 1rem;
        font-weight: 500;
        width: 81%;
    }
    
    .right7>video{
        left: 63%;
        top: 59%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        height: 65%;
        width: 100%;
        scale: 1.4;
    }

    #page8{
        flex-direction: column;
        height: 100vh;
    }

    .left8{
        order: 2;
        margin: 0 auto;
        height: 50%;
        width: 95%;
        padding-left: 10.5vw;
        justify-content: start;
    }
    
    .right8{
        order: 1;
        height: 60%;
        width: 100%;
    }
    
    .left8>h1{
        font-size: 2.4rem;
        font-weight: 600;
    }
    
    .left8>h4{
        margin-top: 20px;
        font-size: 1rem;
        font-weight: 500;
        width: 81%;
    }

    .right8>img{
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        height: fit-content;
        width: 78%;
    }

    #footer{
        padding: 10vw 13vw;
        justify-content: start;
        gap: 5vh;
    }

    #upper>h1{
        font-size: 3rem;
    }

    #upper>button{
        padding: 15px 20px;
        font-size: 0.8rem;
    }

    #links1{
        display: none;
    }

    #lower{
        flex-direction: column;
    }

    #links2{
        display: flex;
        width: 100%;
        gap: 1vw;
        color: rgb(255, 255, 255);
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    #one, #two{ 
        flex-basis: 49%; 
    }

    #three{
        display: none;
    }

    #links2 h4{
        font-size: 1.1rem;
        font-weight: 500;
        margin-bottom: 20px;

    }
    #links2 h3{
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 15px;
    }
}